<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<table>
	<tr>
		<td>seq</td>
		<td>firstName</td>
	</tr>
	<tr>
		<td th:text="${item.seq}"></td>
		<td th:text="${item.firstName}"></td>
	</tr>
</table>

<br>
<a href="/address/addressXdmList">목록</a>
<a th:href="@{/address/addressXdmDele(seq=${item.seq})}" id="delete">삭제</a>
<a th:href="@{/address/addressXdmMfom(seq=${item.seq})}">수정</a>
<a th:href="@{/address/addressXdmUele(seq=${item.seq})}" id="uelete">업제</a>

<script type="text/javascript">
	document.getElementById("delete").onclick = function() {
		if (confirm("진짜요??")) {
			// 삭제
		} else {
			// 아무것도 하지 않아도 됩니다.
			return false;
		}
	}
	
	document.getElementById("uelete").onclick = function() {
		if (confirm("진짜요??")) {
			// 삭제
		} else {
			// 아무것도 하지 않아도 됩니다.
			return false;
		}
	}
</script>

</body>
</html>